* { margin: 0; padding: 0; overflow-x: hidden; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
body { background: #e3dfeb; }
button , a , p { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
a { text-decoration: none; }